future
emoji
requests
sqlalchemy
python-telegram-bot==11.1.0
psycopg2-binary
feedparser
googletrans
telegraph
pillow
numpy
uuid==1.30

httpx>=0.23.0 # not directly required, pinned by Snyk to avoid a vulnerability
